// Los famosos flexbox para hacer diseños más líquidos y que se adapten bien
flexbox()
   display -webkit-box
   display -moz-box
   display -ms-flexbox
   display -webkit-flex
   display box
   display flex
flex()
   -webkit-box-flex arguments
   -moz-box-flex arguments
   -ms-flex arguments
   flex arguments
order()
   -webkit-box-ordinal-group arguments
   -moz-box-ordinal-group arguments
   -ms-flex-order arguments
   -webkit-order arguments
   order arguments