box-shadow()
	box-shadow arguments


box-shadow_lindo()
	box-shadow 0px 1px 1px 0px rgba($white, 0.5) inset, 0px -15px 15px 0px rgba($black_puro, 0.25) inset

text-shadow_lindo()
	text-shadow 0px -1px 0px rgba($black_puro, 0.5)
	
transition_comun()
	transition all 0.3s ease-in-out