box-shadow()
	box-shadow arguments
	-o-box-shadow arguments
	-ms-box-shadow arguments
	-moz-box-shadow arguments

box-shadow_lindo()
	box-shadow 0px 1px 1px 0px rgba($white, 0.5) inset, 0px -15px 15px 0px rgba($black_puro, 0.25) inset
	-o-box-shadow 0px 1px 1px 0px rgba($white, 0.5) inset, 0px -15px 15px 0px rgba($black_puro, 0.25) inset
	-ms-box-shadow 0px 1px 1px 0px rgba($white, 0.5) inset, 0px -15px 15px 0px rgba($black_puro, 0.25) inset
	-moz-box-shadow 0px 1px 1px 0px rgba($white, 0.5) inset, 0px -15px 15px 0px rgba($black_puro, 0.25) inset

text-shadow_lindo()
	text-shadow 0px -1px 0px rgba($black_puro, 0.5)
	-o-text-shadow 0px -1px 0px rgba($black_puro, 0.5)
	-ms-text-shadow 0px -1px 0px rgba($black_puro, 0.5)
	-moz-text-shadow 0px -1px 0px rgba($black_puro, 0.5)
	-webkit-text-shadow 0px -1px 0px rgba($black_puro, 0.5)
	
transition_comun()
	transition all 0.3s ease-in-out