// Creación de triángulos. Pero está fallado y no funciona.

/*
triangle(type = '', $color = '', top = '', right = '', bottom = '', left = '')
	border-bottom bottom solid transparent
	border-left left solid transparent
	border-right right solid transparent
	border-top top solid transparent
	if type == 'top'
		border-color-top $color
	if type == 'right'
		border-color-right $color
	if type == 'bottom'
		border-color-bottom $color
	if type == 'left'
		border-color-left $color
	content ""
	display inline-block
*/