*.db
*.json
*.log
*.rar
*.txt
*.zip
.htaccess
sitemap.xml
sitemap.xml.gz

assets/fonts/*.zip
assets/fonts/*.css
assets/fonts/*.html


ui-docs/

stylus/lib
stylus/node_modules
stylus/test/

js/Glide.js-2.0.0/
js/lightbox/
js/lightbox2-master/
js/slider-pro-master/
js/slippry-1.2.9/

wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
