/*
Fondos o backgrounds de algunas páginas
*/
.fondo
	background $black url("../img/ultrabook.jpg") no-repeat center center fixed
	background-size cover
.fondo_color
	background $white
	
.wrapper
	background rgba($black_puro, 0.4)