/*
Elementos que incluyen un post
*/

.elementos_post
	color $silver
	display inine-block
	margin 0
	padding 0 0 0.5em 0

	li
		display inline-block
		padding 0.5em
		
		span
			display inline-block
		
		[class^="icon-"], [class*=" icon-"]
			margin-right 0.5em

	&.inline
		border-bottom 1px solid $silver
		border-top none
		

// Estilos personalizados para la sección de comentarios
.comment
	border 1px solid $silver

		
.comment-author
	background $nube
	display inline-block
	margin-right 0.5em
	padding 0 0.5em 0 0
	position relative
	vertical-align top

	.avatar
		float left		
		

.comment-body
	padding 1em
	
	
.comment-meta
	color $silver
	display inline-block
	vertical-align middle

	
.commentlist
	margin-left 0
	padding-left 0
	li
		list-style none
		
.commentlist li ul li
	list-style none
	margin-right 0.5em

.leer_mas
	&:after
		content " →"

.fn
.says
	display inline-block
	margin-left 0.5em	
	vertical-align top