/*
El Footer de la página web
*/
.main__footer
	color $white_crema
	padding 1em 1em 3em 1em
	
.redes_sociales
	ul
		margin-left 0
		padding-left 0
		li
			display inline-block
			
@media all and (min-width:40em)
	.copyright
		display inline-block
		vertical-align top
		width 49%