// El encabezado principal de la web
.header
	// background rgba($black, 0.7)
	// box-shadow 5px 0px 10px $black
	box-sizing border-box
	overflow hidden
	text-align center

	
.titulo_home
	color $white
	display inline-block
	margin auto
	font-size 1.1em
	max-width 300px
	h1
		border-bottom 1px solid $white
		font-weight lighter
		font-size 2em
		letter-spacing -3px
		margin 0 0 0.2em 0
		padding 0
		
.boton_home
	.boton
		font-size 1.2em
		
		

@media all and (min-width:50em)
	.header
		position relative
	
	.titulo_home
		font-size 1.4em
		h1
			font-size 2.5em
		
	

// El logotipo
/*
Siempre tiene la forma siguiente
<div class="logo">
	<a href="enlace">
		<img src="img/logo.png" alt="título" />
	</a>
</div>
*/
.logo
.logo_home
	// background $white
	display inline-block
	margin 0.5em
	vertical-align top

	img
		display block
	a
		display block

.logo
	float left
	width 50px
	img
		width 50px
		
.logo_home
	width 80px
	img
		width 80px