// Switcher de idiomas
.switcher
	display inline-block
	margin 0.7em auto 0 auto
	vertical-align middle
	a
		border-right 1px solid $gray
		*display inline
		display inline-block
		font-family $fuente-Titulos
		font-style normal
		font-size 0.9em
		padding 0 0.5em
	a + a
		border-right none

	.active
		color $gris_fuerte
		cursor default
		pointer-events none
		
		
@media all and (min-width:50em)
	.switcher
		float right
		margin 0.7em auto 0 auto
		&--home
			float left