// Artículo común y corriente.

.articulo
	text-align left
		
	figure
		display block
		margin 1em auto
		img
			display block
			width 100%
		figcaption
			background $nube
			color $gray
			font-family $fuente-principal
			font-style italic
			padding 0.5em 1em
			position relative
			text-align center
			
			&:first-letter
				text-transform uppercase
			
		& + h3
		& + h4
		& + h5
		& + h6
			display inline-block
			margin-top 0
		
@media all and (min-width:28em)
	.articulo
		article
			overflow hidden
			figure
				display inline-block
				float left
				margin 0 1em 1em 0
				width 450px
			
			figure:nth-child(even)
				float right
				margin 1em 0 1em 1em