/**
 * # Botones
 */
.boton
	text-decoration none
	// text_shadow_lindo()

	
button
input[type="button"]
input[type="submit"]
input[type="reset"]
.boton
.comment-reply-link
.cancel-comment-reply a
	background $rosa
	*border 0
	border none
	box-sizing border-box
	color $white
	cursor pointer
	*display inline
	display inline-block
	font-family $baseHeadingFontFamily
	// font-family Helvetica, Arial, sans-serif
	font-style normal
	*line-height 1.5em
	line-height 1.5em 
	*margin-left 0.3em
	margin 0.3em 
	apareance none
	-moz-apareance none
	overflow hidden
	padding 0.6em 1em 
	text-align center
	text-overflow ellipsis
	transition all 0.1s ease-in-out
	vertical-align middle !important
	white-space nowrap
	
	// Por defecto
	&:hover
	&:focus
	&:active
		background $rosa_fuerte
		color $white
		text-decoration none
	&:active
		box-shadow none
	
	// Tamaños
	&.large
		font-size 1.3em
		padding 0.6em 1.6em
	&.small
		font-size 0.8em
		padding 0.4em 0.9em

	// Colores de fondo de los botones y su comportamiento
	&.azul
		background $celeste_oscuro
		&:hover
		&:focus
		&:active
			background $azul_claro
	
	&.verde
		background $VerdeClarito
		&:hover
		&:focus
		&:active
			background $VerdeClaro
			
	&.rojo
		background $ladrillo
		&:hover
		&:focus
		&:active
			background $google
			
	&.naranja
		background $naranja_medio
		&:hover
		&:focus
		&:active
			background $naranja_fuerte
			
	&.negro
		background $gris_fuerte
		&:hover
		&:focus
		&:active
			background $black
			
	&.amarillo
		background $amarillo
		&:hover
		&:focus
		&:active
			background $naranja_suave
			
	&.morado
		background $morado_claro
		&:hover
		&:focus
		&:active
			background $morado_oscuro
			
	&.blanco
		background $white
		color $black
		&:hover
		&:focus
		&:active
			background $white_crema
			
	&.redondo
		border-radius 20em
		border-radius 50%
		display inline-block
		height 50px
		padding 1em 0.5em 0.5em 0.5em !important
		width 50px

.boton_home
	.boton
		display block
		margin-left 0
		margin-right 0

.comment-reply-link
	margin-left 0