// Citas y los bloques

blockquote
cite
	// box-sizing border-box
	color $gris_fuerte
	font-size 1.2em
	font-style italic 
	position relative

blockquote
	background url('../img/iconos-png/Entypo_275e(26)_32.png') top left no-repeat
	border 1px dashed $silver
	border-left 3px solid $rosa
	// display table-cell
	padding 1em 1.1em
	margin 1em
	text-align right

@media all and (min-width: 480px)
	blockquote
		margin 1.5em 2em

/*cite
	// color $VerdeClaro
	&:after
	&:before
		color $Celeste
		font-family "icon"
		font-size 1em
		font-style normal
	&:after
		content "\e605"
		padding-left 0.5em
	&:before
		content "\e604"
		padding-right 0.5em*/