.gotop
	// background url('../img/gotop.png') no-repeat top left
	background url('../img/iconos-png/Entypo_e4af(1)_64.png') center center no-repeat
	// border-radius 10em
	bottom 0.5em
	display inline-block
	height 60px
	opacity 0.5
	padding 0
	position fixed
	right 0.5em
	transition all 0.1s ease-in-out
	width 60px
	z-index 150
	
	&-mostrar
		opacity 0.5
	
	&-ocultar
		opacity 0
	
	&:hover
		opacity 1
			

@media all and (min-width: 40em)
	.gotop
		bottom 1em
		right 1em
		&-ocultar
			bottom -5em

