// Fuentes para títulos
@font-face {
	font-family: "Open Sans Condensed";
	src: url('fonts/OpenSansCondensed.eot');
	src: url('fonts/OpenSansCondensed.eot?#iefix') format('embedded-opentype'), 
		url('fonts/OpenSansCondensed.svg#OpenSansCondensed') format('svg'),
		url('fonts/OpenSansCondensed.woff2') format('woff2'), 
		url('fonts/OpenSansCondensed.woff') format('woff'), 
		url('fonts/OpenSansCondensed.ttf') format('truetype');
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
	
// Fuente Principal
@font-face {
	font-family: 'Droid Serif';
	src: url('fonts/DroidSerif.eot');
	src: url('fonts/DroidSerif.eot?#iefix') format('embedded-opentype'), url('fonts/DroidSerif.svg#DroidSerif') format('svg'), url('fonts/DroidSerif.ttf') format('truetype'), url('fonts/DroidSerif.woff') format('woff'), url('fonts/DroidSerif.woff2') format('woff2');
}

/*@font-face
	// font-family 'Droid Serif'
	src url('fonts/DroidSerifItalic.eot')
	src url('fonts/DroidSerifItalic.eot') format('embedded-opentype'), url('fonts/DroidSerifItalic.svg#DroidSerifItalic') format('svg'), url('fonts/DroidSerifItalic.ttf') format('truetype'), url('fonts/DroidSerifItalic.woff') format('woff'), url('fonts/DroidSerifItalic.woff2') format('woff2')
	font-style italic

@font-face
	// font-family 'Droid Serif'
	src url('fonts/DroidSerifBold.eot')
	src url('fonts/DroidSerifBold.eot') format('embedded-opentype'), url('fonts/DroidSerifBold.svg#DroidSerifBold') format('svg'), url('fonts/DroidSerifBold.ttf') format('truetype'), url('fonts/DroidSerifBold.woff') format('woff'), url('fonts/DroidSerifBold.woff2') format('woff2')
	font-weight bolder

@font-face
	// font-family 'Droid Serif'
	src url('fonts/DroidSerifItalicBold.eot')
	src url('fonts/DroidSerifItalicBold.eot') format('embedded-opentype'), url('fonts/DroidSerifItalicBold.svg#DroidSerifItalicBold') format('svg'), url('fonts/DroidSerifItalicBold.ttf') format('truetype'), url('fonts/DroidSerifItalicBold.woff') format('woff'), url('fonts/DroidSerifItalicBold.woff2') format('woff2')
	font-style italic
	font-weight bolder*/



// Iconos
@font-face
	font-family 'icon'
	src url('fonts/icomoon.eot')
	src url('fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('fonts/icomoon.svg#icomoon') format('svg'), url('fonts/icomoon.ttf') format('truetype'), url('fonts/icomoon.woff') format('woff')
	font-weight normal
	font-style normal