/**
 * # Títulos
 */

h1
h2
h3
h4
h5
h6
	font-family $fuente-Titulos
	font-style normal
	margin 1.5em auto 0.2em 0
	a
		font-family $fuente-Titulos
		font-style normal
		


// Heading de secciones de la web en la home
.heading
	border-bottom 1px dotted $silver
	margin-bottom 1.5em
	
	h1, h2
		color $rosa
		// font-size 1.2em
		font-weight lighter
		margin 0
		padding-right 1em
		text-align left
		[class^="icon-"], [class*=" icon-"]
			float right
			
// @media all and (min-width: 40em)
// 	.heading
// 		h1, h2
// 			font-size 1.7em
		

.heading-item
	padding 0.2em
	position relative
	h1, h2, h3, h4, h5, h6
		color $white
		text-align center
	
	&.verde
		background $VerdeClarito
	
	&.azul
		background $azul_claro
	
	&.gris
		background $gris
		
	&.google
		background $google
	
	&.negro
		background $black
	
	&.morado
		background $morado_claro
	
	&.naranja
		background $NaranjaLadrillo
		