// Variables. Configuraciones del proyecto
 
// Soporte para versiones antiguas de IE (6, 7 y 8)
support-for-ie = true

// Valores fuertes típicos
$white = #fff
$gray = #aaa
$black_puro = #000
$black_fuerte = #222

// Valores suaves
$white_crema = #eee
$black = #444
$black_suave = #555

// Paleta de Colores de Flat UI Colores
// Verdes
$turquesa = #1abc9c
$verde_mar = #16a085
$esmeralda = #1abc9c
$neferteris = #16a085

// Azules
$azul_claro = #2980b9
$celeste_oscuro = #3498db

// Morados
$morado_claro = #9b59b6
$morado_oscuro = #8e44ad

// Azules metalizados
$asfalto = #34495e
$midnight = #2C3E50

// Amarillentos y naranjas
$amarillo = #f1c40f
$naranja_suave = #f39c12
$naranja_medio = #e67e22
$naranja_fuerte = #d35400

// Rojos
$ladrillo = #e74c3c
$google = #c0392b

// Grises tipo nubes
$nube = #ecf0f1
$silver = #bdc3c7
$silver_claro = #ddd
$concreto = #95a5a6
$gris_fuerte = #7f8c8d

// Paleta de Emyth
$Celeste = #47a5c5
$VerdeClarito = #a0c275
$VerdeClaro = #8ca566
$NaranjaLadrillo = #da572b

// Paleta WebTranslations
$rosa = #E29A9A
$rosa_claro = #FFA8FF
$rosa_fuerte = #BF8787
$verde_suave = #AEEFAB




/* ========= Fuentes =========== */
// Títulos
$fuente-Titulos = 'Open Sans Condensed', Helvetica, Arial, sans-serif

// Principal
$fuente-principal = 'Droid Serif', Georgia, 'Times New Roman', serif

// Nombre de la fuente de iconos
$iconFontFamily = 'icon'

// Color base del texto
$fontColor = $black_suave